[submodule ".registry"]
	path = .registry
	url = https://github.com/beniaminogreen/beniaminogreen.r-universe.dev
	branch = HEAD
[submodule "cragg"]
	path = cragg
	url = https://github.com/beniaminogreen/cragg
[submodule "sparsepolicytree"]
	path = sparsepolicytree
	url = https://github.com/beniaminogreen/sparsepolicytree
[submodule "workwme"]
	path = workwme
	url = https://github.com/beniaminogreen/heroh
[submodule "zoomerjoin"]
	path = zoomerjoin
	url = https://github.com/beniaminogreen/zoomerjoin
