[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cragg"]
	path = cragg
	url = https://github.com/beniaminogreen/cragg
	shallow = true
	registered = true
